<h1>Exercises</h1>

Link to Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [1]:
import pandas as pd

## In this project, we will work with two separate CSV files containing information on gasoline prices in Brazil.

### 1. Load the datasets "gasolina_2000+.csv" and "gasolina_2010+.csv" into two different DataFrames and merge them into a single DataFrame.

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
gas_2000 = pd.read_csv('Exercises_Pandas/gasolina_2000+.csv', decimal='.', index_col=0)
gas_2000 = pd.DataFrame(gas_2000)

gas_2010 = pd.read_csv('Exercises_Pandas/gasolina_2010+.csv', low_memory=False, decimal='.', index_col=0)
gas_2010 = pd.DataFrame(gas_2010)

In [3]:
gas_2000

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [4]:
gas_2010

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [5]:
gas_2000_2010 = pd.concat([gas_2000, gas_2010])

In [6]:
gas_2000_2010

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 2. Investigate the columns and understand the dataset using head() and info().

### 2. Investigue as colunas e entenda o conjunto de dados usando o head() e info().

In [7]:
gas_2000_2010.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [8]:
gas_2000_2010.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 3. Select the third entry of the column "DATA INICIAL" and check its type.

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [9]:
type(gas_2000_2010['DATA INICIAL'].iloc[3])

str

### 4. You may have noticed that the columns DATA INICIAL and DATA FINAL are formatted as strings. Using the pd.to_datetime() method, convert both columns to Timestamp / Datetime.


### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [10]:
gas_2000_2010['DATA INICIAL'] = pd.to_datetime(gas_2000_2010['DATA INICIAL'])

In [11]:
gas_2000_2010['DATA FINAL'] = pd.to_datetime(gas_2000_2010['DATA FINAL'])

In [12]:
type(gas_2000_2010['DATA INICIAL'].iloc[3])

pandas._libs.tslibs.timestamps.Timestamp

In [13]:
type(gas_2000_2010['DATA FINAL'].iloc[3])

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
gas_2000_2010['DATA INICIAL'].dtype

dtype('<M8[ns]')

In [15]:
gas_2000_2010['DATA FINAL'].dtype

dtype('<M8[ns]')

### 5. Create a new column to represent the year and month (yyyy-mm), using the DATA FINAL column as reference.

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [16]:
gas_2000_2010['ANO E MÊS'] = gas_2000_2010['DATA FINAL'].dt.to_period('M')

In [17]:
gas_2000_2010.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO E MÊS
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-05
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-05
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-05
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-05
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004-05

### 6. Using value_counts(), list all types of products contained in the database.

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [18]:
gas_2000_2010['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filter the DataFrame to obtain only data for 'GASOLINA COMUM'. Save it to a new variable.


### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [19]:
gas_2000_2010 = gas_2000_2010[gas_2000_2010['PRODUTO'] == 'GASOLINA COMUM']
gas_2000_2010.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO E MÊS
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.00,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05

### 8. What is the average resale price of gasoline in August 2008?

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [20]:
august_2008 = gas_2000_2010[gas_2000_2010['ANO E MÊS'] == '2008-08']

In [21]:
august_2008['PREÇO MÉDIO REVENDA'].mean()

2.6012444444444447

### 9. What is the average selling price of gasoline in São Paulo in May 2014?

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [22]:
gas_2000_2010[(gas_2000_2010['ESTADO'] == 'SAO PAULO') & (gas_2000_2010['ANO E MÊS'] == '2014-05')]['PREÇO MÉDIO REVENDA'].mean()

2.8822

### 10. Could you find out in which state(s) gasoline surpassed the R$ 5.00 mark? And when did that happen?

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [23]:
gas_2000_2010[['ESTADO', 'DATA INICIAL', 'DATA FINAL', 'PREÇO MÁXIMO REVENDA']][gas_2000_2010['PREÇO MÁXIMO REVENDA'] > 5]

                ESTADO DATA INICIAL DATA FINAL  PREÇO MÁXIMO REVENDA
92471             ACRE   2017-08-27 2017-09-02                 5.100
92771             ACRE   2017-09-10 2017-09-16                 5.200
93072             ACRE   2017-09-24 2017-09-30                 5.200
93371             ACRE   2017-10-08 2017-10-14                 5.200
93671             ACRE   2017-10-22 2017-10-28                 5.200
...                ...          ...        ...                   ...
120721         RORAIMA   2021-04-25 2021-05-01                 5.530
120722  SANTA CATARINA   2021-04-25 2021-05-01                 5.599
120723       SAO PAULO   2021-04-25 2021-05-01                 6.099
120724         SERGIPE   2021-04-25 2021-05-01                 5.699
120725       TOCANTINS   2021-04-25 2021-05-01                 6.119

[1599 rows x 4 columns]

In [24]:
gas_2000_2010[['ESTADO', 'DATA INICIAL', 'DATA FINAL', 'PREÇO MÁXIMO REVENDA']][((gas_2000_2010['PRODUTO'] == 'GASOLINA COMUM') | (gas_2000_2010['PRODUTO'] == 'GASOLINA ADITIVADA'))&(gas_2000_2010['PREÇO MÁXIMO REVENDA'] > 5)].value_counts()

ESTADO            DATA INICIAL  DATA FINAL  PREÇO MÁXIMO REVENDA
ACRE              2017-08-27    2017-09-02  5.100                   1
RIO DE JANEIRO    2018-06-17    2018-06-23  5.499                   1
                  2018-06-03    2018-06-09  5.599                   1
                  2018-05-27    2018-06-02  5.399                   1
                  2018-05-20    2018-05-26  5.400                   1
                                                                   ..
DISTRITO FEDERAL  2021-04-11    2021-04-17  5.899                   1
                  2021-04-04    2021-04-10  5.899                   1
                  2021-03-28    2021-04-03  5.699                   1
                  2021-03-21    2021-03-27  5.999                   1
TOCANTINS         2021-04-25    2021-05-01  6.119                   1
Length: 1599, dtype: int64

### 11. What is the average price of the states in the southern region in 2012?

### 11. Qual a média de preço dos estados da região sul em 2012?

In [25]:
gas_2000_2010[(gas_2000_2010['REGIÃO'] == 'SUL') & (gas_2000_2010['DATA FINAL'].dt.year == 2012)]['PREÇO MÉDIO REVENDA'].mean()

2.7214423076923073

### 12. Could you obtain a table containing the year-over-year percentage variation for the state of Rio de Janeiro?


### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [26]:
gas_2000_2010 = gas_2000_2010.assign(MÊS=gas_2000_2010['ANO E MÊS'].dt.month)

In [27]:
gas_RJ = gas_2000_2010[gas_2000_2010['ESTADO']=='RIO DE JANEIRO']
gas_RJ.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO E MÊS,MÊS
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.7,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026,2004-05,5
12113,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.7,2.599,0.252,0.055,1.788,0.049,1.5943,1.99651,0.027,2004-05,5
12140,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.7,2.599,0.252,0.053,1.79,0.046,1.63596,2.2137,0.026,2004-05,5

In [28]:
gas_RJ = gas_RJ.groupby('ANO E MÊS')[['PREÇO MÉDIO REVENDA', 'MÊS']].last()
gas_RJ_december = gas_RJ[gas_RJ['MÊS']==12]
gas_RJ_december

           PREÇO MÉDIO REVENDA  MÊS
ANO E MÊS
2004-12                  2.296   12
2005-12                  2.508   12
2006-12                  2.531   12
2007-12                  2.540   12
2008-12                  2.565   12
2009-12                  2.607   12
2010-12                  2.660   12
2011-12                  2.849   12
2012-12                  2.877   12
2013-12                  3.072   12
2014-12                  3.206   12
2015-12                  3.862   12
2016-12                  4.002   12
2017-12                  4.548   12
2018-12                  4.812   12
2019-12                  4.995   12
2020-12                  4.929   12

In [29]:
(gas_RJ_december[gas_RJ_december['MÊS']==12] / gas_RJ_december[gas_RJ_december['MÊS']==12].shift(1)-1)*100

           PREÇO MÉDIO REVENDA  MÊS
ANO E MÊS
2004-12                    NaN  NaN
2005-12               9.233449  0.0
2006-12               0.917065  0.0
2007-12               0.355591  0.0
2008-12               0.984252  0.0
2009-12               1.637427  0.0
2010-12               2.032988  0.0
2011-12               7.105263  0.0
2012-12               0.982801  0.0
2013-12               6.777894  0.0
2014-12               4.361979  0.0
2015-12              20.461634  0.0
2016-12               3.625065  0.0
2017-12              13.643178  0.0
2018-12               5.804749  0.0
2019-12               3.802993  0.0
2020-12              -1.321321  0.0

### Challenge: Create a table containing a time series with the absolute and percentage difference between the cheapest and most expensive values. Also present the states in which the highest and lowest prices were recorded next to it.

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [30]:
df_max = gas_2000_2010.groupby('ANO E MÊS').max()['PREÇO MÉDIO REVENDA']
df_min = gas_2000_2010.groupby('ANO E MÊS').max()['PREÇO MÍNIMO REVENDA']

In [31]:
idx_max = gas_2000_2010.groupby('ANO E MÊS')['PREÇO MÉDIO REVENDA'].idxmax()
idx_min = gas_2000_2010.groupby('ANO E MÊS')['PREÇO MÉDIO REVENDA'].idxmin()

In [32]:
df_diff = pd.DataFrame()

In [33]:
df_diff['DIFERENÇA ABSOLUTA'] = df_max-df_min
df_diff['DIFERENÇA PERCENTUAL'] = (df_max-df_min)/df_min*100
df_diff['PREÇO MÁXIMO'] = df_max
df_diff['PREÇO MÍNIMO'] = df_min

In [34]:
df_diff['ESTADO MAIOR PREÇO'] = gas_2000_2010.loc[idx_max, :]['ESTADO'].values
df_diff['ESTADO MENOR PREÇO'] = gas_2000_2010.loc[idx_min, :]['ESTADO'].values

In [35]:
df_diff

,DIFERENÇA ABSOLUTA,DIFERENÇA PERCENTUAL,PREÇO MÁXIMO,PREÇO MÍNIMO,ESTADO MAIOR PREÇO,ESTADO MENOR PREÇO
ANO E MÊS,,,,,,
2004-05,0.188,8.355556,2.438,2.250,ACRE,SAO PAULO
2004-06,0.246,10.933333,2.496,2.250,MATO GROSSO,SAO PAULO
2004-07,0.205,8.760684,2.545,2.340,ACRE,DISTRITO FEDERAL
2004-08,0.180,7.563025,2.560,2.380,MATO GROSSO,SAO PAULO
2004-09,0.170,7.083333,2.570,2.400,ACRE,SAO PAULO
...,...,...,...,...,...,...
2021-01,0.193,3.844622,5.213,5.020,ACRE,AMAPA
2021-02,0.180,3.197726,5.809,5.629,ACRE,AMAPA
2021-03,0.018,0.269865,6.688,6.670,ACRE,AMAPA
2021-04,0.147,2.417763,6.227,6.080,ACRE,AMAPA
2021-05,0.268,4.474124,6.258,5.990,ACRE,AMAPA